<div>
  <h1>my app</h1>

  <form [formGroup]="form">
    <fabric-radio-group #radioGroup formControlName="fruit" [required]="true">
      <label>Select your favorite fruit:</label>

      <div>
        <fabric-radio value="apple"></fabric-radio>
        <label for="apple">Apple</label>
      </div>

      <div>
        <fabric-radio value="pear"></fabric-radio>
        <label for="pear">Pear</label>
      </div>

      <div>
        <fabric-radio value="banana"></fabric-radio>
        <label for="banana">Banana</label>
      </div>

      <div>
        <fabric-radio value="orange"></fabric-radio>
        <label for="orange">Orange</label>
      </div>
    </fabric-radio-group>

    <div
      class="radio-group-demo-error"
      *ngIf="
        form.get('fruit')?.invalid &&
        (form.get('fruit')?.touched || form.get('fruit')?.dirty)
      "
    >
      <span *ngIf="form.get('fruit')?.errors?.['required']">
        Please select a fruit!
      </span>
    </div>

    <fabric-button type="submit" (click)="onSubmit()">Submit</fabric-button>
  </form>

  <div class="radio-group-demo-value">
    Current Value using Angular Reactive Form:
    <span class="radio-demo-tag" *ngIf="form.get('fruit')?.value">
      {{ form.get("fruit")?.value }}
    </span>
    <span *ngIf="!form.get('fruit')?.value">No value selected</span>
  </div>

  <div class="radio-group-demo-input">
    <label slot="label">Set value with keyboard (enter to submit):</label>
    <input
      type="text"
      (keyup.enter)="onInputSubmit($event)"
      [value]="form.get('fruit')?.value"
    />
  </div>
</div>
<pre>{{ form.value | json }}</pre>
